* {
    box-sizing: border-box;    
}

body {
    max-width: 1024px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
header {
    margin: 0;
}
header ul {
    list-style-type: none;
}
input {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
    justify-content: center;
    gap: 25px;
}
.gallery a {
   
}
.gallery img {
   
}